@{
    ViewBag.Title = "Index";
}
<body ng-controller="interestsController">
    <div class="container">
        <div class="row"
             ng-repeat="interest in interests">
            <a ng-href="{{interest.LinkUrl}}">
                <img class="col-xs-3"
                     ng-src="{{interest.ImageUrl}}" />
            </a>
            <h6 class="col-xs-6"> {{interest.Description}} </h6>
            <span class="col-xs-3">{{interest.CreatedOn | date: 'medium'}}</span>
        </div>
    </div>
</body>
@*<img ng-src="data:image/JPEG;base64,{{image}}">*@

<!-- DETAILS Modal -->
<div class="fade modal"
     id="DetailsModal"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        data-dismiss="modal"
                        type="button">
                    &times;
                </button>
                <h4 class="modal-title"
                    id="post-title"></h4>
            </div>
            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button class="btn btn-default"
                        data-dismiss="modal"
                        type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<!-- CREATE Modal -->
<div class="fade modal"
     id="CreateModal"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        data-dismiss="modal"
                        type="button">
                    &times;
                </button>
                <h4 class="modal-title">
                    New Post
                </h4>
            </div>
            <div class="modal-body">
                <textarea id="newPostDescriptionTA">Description:</textarea>
                <textarea id="newPostImageUrl">Image Url:</textarea>
                <textarea id="newPostLinkUrl">Link Url:</textarea>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default"
                        data-dismiss="modal"
                        id="newPostButton"
                        type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{


    <script>
        (function () {
            var app = angular.module("myApp", []);

            app.controller("interestsController", function ($scope, $http) {

                $scope.LoadAllInterests = function () {
                    $http.get("/Posts/AllInterests")
                        .success(function (response) {
                            $scope.interests = response;
                        });;
                };

                $scope.LoadAllInterests();

                $("#newPostButton").click(function () {
                    var description = $("#newPostDescriptionTA").val();
                    var url = $("newPostLinkUrl").val();
                    var imageUrl = $("#newPostImageUrl").val();

                    var newPost = { Description: description, imageUrl: imageUrl, LinkUrl: url };

                    $http.post("/Posts/NewPost", newPost)
                        .success(function (response) {
                            $scope.interests.push(response);
                        });
                });

            });
        })();
    </script>
}