@using Interests.Controllers
@using Interests.Models
@{
    ViewBag.Title = "Index";
}
<body ng-controller="interestsController">
    <div ng-repeat="interest in interests">
        <p>{{interest.Description}} </p>
    </div>
</body>


<!-- DETAILS Modal -->
<div class="fade modal"
     id="DetailsModal"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        data-dismiss="modal"
                        type="button">
                    &times;
                </button>
                <h4 class="modal-title"
                    id="post-title"></h4>
            </div>
            <div class="modal-body">
                <img id="post-image"
                     src="">
                </img>

            </div>

            <div class="modal-footer">
                <button class="btn btn-default"
                        data-dismiss="modal"
                        type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        (function () {
            var app = angular.module("myApp", []);

            app.controller("interestsController", function ($scope, $http) {

                $scope.LoadAllInterests = function () {
                    $http.get("/Posts/AllInterests")

                        .success(function (response) { $scope.interests = response; });
                         console.log("!");
                };

                $scope.SaveNewInterest = function (newPin) {
                    $http.post("/Posts/SaveNewInterest", newPin);
                };
                $scope.LoadAllInterests();
            });
        })();
    </script>
}