@using Interests.Controllers
@using Interests.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<body ng-controller="interestsController">
    <div class="container">
        <div class="row"
             ng-repeat="interest in interests">
            <div>{{interest.ImageUrl}}</div>
            <a ng-href="{{interest.LinkUrl}}">
                <img class="col-xs-3"
                     ng-src="{{interest.ImageUrl}}" />
            </a>
            <h6 class="col-xs-6"> {{interest.Description}} </h6>
            <span class="col-xs-3">{{interest.CreatedOn | date: 'medium'}}</span>
        </div>
    </div>
</body>
@*<img ng-src="data:image/JPEG;base64,{{image}}">*@

<!-- DETAILS Modal -->
<div class="fade modal"
     id="DetailsModal"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        data-dismiss="modal"
                        type="button">
                    &times;
                </button>
                <h4 class="modal-title"
                    id="post-title"></h4>
            </div>
            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button class="btn btn-default"
                        data-dismiss="modal"
                        type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<!-- CREATE Modal -->
<div class="fade modal"
     id="CreateModal"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        data-dismiss="modal"
                        type="button">
                    &times;
                </button>
                <h4 class="modal-title">
                    New Post
                </h4>
            </div>
            <div class="modal-body">
                <textarea id="newPostDescriptionTA">Description:</textarea>
                <textarea id="newPostImageUrl">Image Url:</textarea>
                <textarea id="newPostLinkUrl">Link Url:</textarea>
            </div>

            <div class="modal-footer">
                <button id="newPostButton"
                        class="btn btn-default"
                        data-dismiss="modal"
                        type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{


    <script>
        (function() {
            var app = angular.module("myApp", []);

            app.controller("interestsController", function($scope, $http) {

                $scope.LoadAllInterests = function() {
                    $http.get("/Posts/AllInterests")
                        .success(function(response) {
                            angular.forEach(response.Posts, function(value, key) {
                                console.log(response.Posts[key].CreatedOn);

                                response.Posts[key].CreatedOn = new Date(response.Posts[key].CreatedOn.replace(/-/g, "/"));
                            });
                            $scope.interests = response;
                        });
                };

                $scope.SaveNewInterest = function(newPost) {

                    console.log("Saved to db.. attempting to add to collection.");
                    $scope.interests.push(newPost);
                    console.log("Added to collection.");
                };

                $("#newPostButton").click(function() {
                    console.log("initializing var img");
                    var img;
                    //  var id = new guid;
                    console.log("Getting description:");
                    var description = $("#newPostDescriptionTA").val();
                    console.log(description);

                    // var link
                    console.log("Getting image Url:");
                    var imageUrl = $("#newPostImageUrl").val();
                    var image;
                    console.log("Attempting to get image array from " + imageUrl);
                    $http.post("/Posts/GetImageBytes?url="+imageUrl,"image")
                        .success(function(response) { image = response; });

                 var newPost = { Description: description, Image: image };


                 newPost = $http.post("/Posts/NewPost", newPost)
                        .success(function (response) {newPost=response});
                    console.log("posted.");
                    console.log("SaveNewInterest(" + newPost + ")");
                    $scope.SaveNewInterest(newPost);
                    console.log("done.");

                });
                $scope.LoadAllInterests();
            });
        })();
    </script>
}